
.cmd5_1 {
    background-image: url("/assets/images/command5.png");
    background-position: -201px 0;
    height: 16px;
    width: 16px;
}

.header {
    background-color: #0072c6;
    height: 40px;
}

.header .logo h1 {
    font-size: 24px;
    margin: 0;
    padding: 7px 0;
}
.header .logo h1 a {
    color: #fff;
    font-family: "Open Sans Condensed",sans-serif;
}
.header .logo h1 a:hover {
    border: 0 none;
    color: #fff;
    text-decoration: none;
}
.header .form {
    margin: 10px auto;
    max-width: 300px;
    width: 100%;
}
.header .navbar * {
    box-shadow: none !important;
}

.header .navbar .label {
    border-radius: 15px !important;
    font-size: 12px;
    margin: 0 2px;
    padding: 4px 8px;
}
.header .navbar {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none !important;
}

.header .navbar i {
    margin-right: 3px;
}

.header .navbar .nav > li > a {
    border-bottom: 0 none !important;
    color: #fff !important;
    font-size: 13px !important;
    font-weight: bold;
    margin-top: 0 !important;
}
.header .navbar-nav > .open > a, .header .navbar-nav > .open > a:hover, .header .navbar-nav > .open > a:focus {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.header .navbar-collapse {
    border: 0 none !important;
}
.header .navbar-header {
    margin: 0 auto;
    width: 43px;
}
.header .navbar-header button {
    color: #fff !important;
    padding: 5px 10px;
}
.header .navbar-toggle {
    background-color: #1dc1da !important;
    border: 1px solid #0fa6bc !important;
}
.header .navbar-toggle:hover, .header .navbar-toggle:focus {
    background-color: #0fa6bc !important;
    border: 1px solid #0fa6bc !important;
}
.header .dropdown-menu {
    background: none repeat scroll 0 0 #fff !important;
    border-radius: 6px !important;
}
.header .dropdown-menu li {
    border-bottom: 1px dashed #f3f3f3;
    font-size: 13px;
    padding: 6px 15px;
}
.header .dropdown-menu li a {
    color: #888;
    padding-left: 0 !important;
}
.header .dropdown-menu li:last-child {
    border: 0 none;
}
.header .dropdown-menu li a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none !important;
    color: #666 !important;
}
.header .dropdown-big {
    min-width: 300px;
}
.header .dropdown-big .dropdown-head {
    background: none repeat scroll 0 0 #fcfcfc;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -5px;
    padding: 7px 15px;
}
.header .dropdown-big .dropdown-title {
    color: #999;
    font-size: 13px;
    font-weight: bold;
}
.header .dropdown-big .dropdown-body {
    background: none repeat scroll 0 0 #fff;
}
.header .dropdown-big .dropdown-foot {
    background: none repeat scroll 0 0 #fcfcfc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #ddd;
    font-size: 12px;
    margin-bottom: -5px;
    padding: 7px 15px;
}
.header .dropdown-big .dropdown-foot a {
    color: #888;
}
.header .dropdown-big .dropdown-foot a:hover {
    border-bottom: 0 none;
    color: #555;
}
.header .navbar-nav .caret {
    border-bottom-color: #fff !important;
    border-top-color: #fff !important;
}
.header .navbar-nav > .open > a .caret, .header .navbar-nav > .open > a:hover .caret, .header .navbar-nav > .open > a:focus .caret {
    border-bottom-color: #fff !important;
    border-top-color: #fff !important;
}

.switch_system_div {
    cursor: pointer;
    padding: 12px;
}
